<div class="container">
    <h1>CALCULADORA BÁSICA</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese el número 1</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="0">
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese el número 2</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="0">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <p>Resultado : {{resultado}}</p>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary">Suma</button>
          </div>
          <div class="col">
            <button class="btn btn-info">Resta</button>
          </div>
          <div class="col">
            <button class="btn btn-danger">División</button>
          </div>
          <div class="col">
            <button class="btn btn-warning">Multiplicación</button>
          </div>
        </div>
      </div>
</div>
